<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="791a3763-6b7f-4025-9e35-bef26f274f82" >
		<http:request-connection host="${http.request.host}" port="${http.request.port}" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="7a7d4cb5-f486-467e-b59f-be0d94c09aaf" file="configuration.properties" />
</mule>
